.center {
    /* height: calc(100vh - 60px); */
    height: 90vh;
    display: flex;
    /* gap: 7px; */
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    padding-top: 60px;
}

.lightCard {
    background-color: #e5e5e5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.darkCard {
    background-color: #333;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.heading {
    font-size: 2rem;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    /* Shadow effect */
    padding: 20px;
    /* Padding for content */
    border-radius: 8px;
    /* Rounded corners */
    transition: box-shadow 0.3s ease;
    font-size: 1.2rem
    /* Smooth transition for hover effect */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Shadow effect on hover */
    /* cursor: pointer; */
}

.box {
    background-color: red;
    margin-top: 5px;
}

.name{
    font-weight: bold;
}